WebContent/META-INF/wsdlsNuevo/classicScorePlusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.apc.com.pa/Webservices/classicScorePlusService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="https://www.apc.com.pa/Webservices/classicScorePlusService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.apc.com.pa/Webservices/classicScorePlusService">
      <s:element name="GetScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioconsulta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="claveConsulta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdentCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Producto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetScoreSoapIn">
    <wsdl:part name="parameters" element="tns:GetScore" />
  </wsdl:message>
  <wsdl:message name="GetScoreSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoreResponse" />
  </wsdl:message>
  <wsdl:portType name="classicScorePlusServiceSoap">
    <wsdl:operation name="GetScore">
      <wsdl:input message="tns:GetScoreSoapIn" />
      <wsdl:output message="tns:GetScoreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="classicScorePlusServiceSoap" type="tns:classicScorePlusServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScore">
      <soap:operation soapAction="https://www.apc.com.pa/Webservices/classicScorePlusService/GetScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="classicScorePlusServiceSoap12" type="tns:classicScorePlusServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScore">
      <soap12:operation soapAction="https://www.apc.com.pa/Webservices/classicScorePlusService/GetScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="classicScorePlusService">
    <wsdl:port name="classicScorePlusServiceSoap" binding="tns:classicScorePlusServiceSoap">
      <soap:address location="https://desarrollo.apc.com.pa/SCOREPLUS/classicScorePlusService.asmx" />
    </wsdl:port>
    <wsdl:port name="classicScorePlusServiceSoap12" binding="tns:classicScorePlusServiceSoap12">
      <soap12:address location="https://desarrollo.apc.com.pa/SCOREPLUS/classicScorePlusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>