WebContent/META-INF/wsdls/xsd0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="https://www.apc.com.pa/Webservices"
	       xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	       targetNamespace="https://www.apc.com.pa/Webservices"
	       elementFormDefault="qualified">
	<xs:element name="GetScore">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="usuarioconsulta" type="xs:string"
					nillable="true" minOccurs="0" />
				<xs:element name="claveConsulta" type="xs:string"
					nillable="true" minOccurs="0" />
				<xs:element name="IdentCliente" type="xs:string"
					nillable="true" minOccurs="0" />
				<xs:element name="TipoCliente" type="xs:string" nillable="true"
					minOccurs="0" />
				<xs:element name="Producto" type="xs:string" nillable="true"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetScoreResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GetScoreResult" type="xs:string"
					nillable="true" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
 
